
<%#= javascript_pack_tag 'hello_react' %>
<h1>Home Page</h1>
<%#= link_to "Create a new Product", new_product_path %>

<%#= @products.each do |product| %>
<!--  <h2> <%#= link_to product.title, products_path(product) %></h2>-->
<!--  <p> <%#= product.description %></p>-->
<!--  <p> Price: <%#= number_to_currency product.price %></p>-->
<%#end %>